<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
.loader {
  color: #6100ee;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}
</style>

<div id="dashboard-loading" class="fixed inset-0 bg-gray-100 bg-opacity-100 flex items-center justify-center z-50">
  <div class="flex flex-col items-center">
    <div class="loader"></div>
  </div>
</div>
<script>
  window.addEventListener('load', function () {
    setTimeout(function () {
      document.getElementById('dashboard-loading').style.display = 'none';
    }, 1000);
  });
</script>